.row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    grid-gap: 5rem;
    height: 300px; /* Or whatever */
    align-items: center;
  }
  
  .col {
    flex: 1; /* additionally, equal width */
    
    padding: 1em;
    border: solid;
  }