.row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,1fr));
    grid-gap: 10rem;
    height: 300px; /* Or whatever */
    align-items: center;
    padding: 25px;
    
  }
  
  .col {
    flex: 1; /* additionally, equal width */
    padding: 1em;
    border: solid;
    
  }
  #gridGrid {
    height: 650;
    margin-bottom: 20px;
    margin-top: 20px;
    display: center;

    align-items: center;
    justify-content: center;
}