#gridWelcome {
    
    background-color:#4502F1;
    color:white;
    height: 500px;
}

#welcomeTitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 5vw;
    text-align: center;
    
    padding-top: 200px;
}

#welcomeSubTitle{
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-size: 2.0vw;
    margin-bottom: 70px;
}

